.user-header {
  display: flex;
  align-items: center; 
  gap: 24px;   
  cursor: pointer;
  margin-bottom: 48px;
}

.toggle-icon{
height: 32px;
width: 32px;
}
.catalog-page{
  margin-top: 40px;
}