@use '../variables' as *;

.tab{
  display: flex;
  width: 100%;
  max-width: 744px;
}

.tab-button {
  height: 55px;
  flex: 1;
  padding: 10px 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background-color: white;
  cursor: pointer;
  text-align: center;
  border: none;
  
  
   &.active {
    color: rgba($main-blue-color, 1); 
    background-color: $background-color; 
    font-weight: 500;
    
    &.catalog-tab {
      border-radius: 16px;
    }
    
    &.favorites-tab {
      border-radius: 8px;
    }
  }
}